@page "/"

<PageTitle>Домашняя страница</PageTitle>

@* <h1>Hello, world!</h1> *@
@* *@
@* Welcome to your new app. *@
@* *@
@* <AuthorizeView> *@
@*     <Authorized> *@
@*         <p>hello</p> *@
@*     </Authorized> *@
@*     <NotAuthorized> *@
@*         <a href="register" class="btn btn-secondary">Войти</a> *@
@*     </NotAuthorized> *@
@* </AuthorizeView> *@
