@using System.Security.Cryptography
@using System.Text
@using FlowerShop.Core
@using FlowerShop.Data
@using FlowerShop.Models
@inject UserDbContext _context
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@page "/register"

<div class="row">
    <div>
        <section>
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="cardborder-0 shadow rounded-3 overflow-hidden">
                    <EditForm Model="@ViewModel" OnValidSubmit="Submit" FormName="register">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title text-center mb-5 fw-light fs-5">Регистрация</h5>
                            <InputText @bind-Value="ViewModel.FirstName" class="form-control" autocomplete="name" aria-required="true" placeholder="Имя"/>

                            <InputText @bind-Value="ViewModel.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Фамилия" style="margin-top: 10px;"/>

                            <InputText @bind-Value="ViewModel.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" style="margin-top: 10px;"/>

                            <InputText @bind-Value="ViewModel.Password" class="form-control" autocomplete="password" type="password" aria-required="true" placeholder="Пароль"  style="margin-top: 10px;"/>

                            <select @bind="_city" style="margin-top: 5px;">
                                <option>-</option>
                                <option value="Москва">Москва</option>
                                <option value="Санкт-Питербург">Санкт-Питербург</option>
                            </select>

                            <div class="d-grid mb-2" style="margin-top: 10px;">
                                <button Variant="Variant.Filled" class="btn btn-primary" Color="Color.Primary" type="submit">Зарегистрироваться</button>
                            </div>
                            <a href="/login">Уже зарегистрированы на сайте?</a>
                        </div>
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                    </EditForm>
                    <p>@Message</p>
                </div>
            </div>
        </section>
    </div>
</div>

@code {
    private UserViewModel ViewModel { get; set; } = new();

    private string Message;

    private string _city;
    
    private void Submit()
    {
        if (_context.Users.Any(x => x.Email == ViewModel.Email))
        {
            Message = "Пользователь с такой почтой уже зарегистрирован";
            
            return;
        }
        
        User user = new()
        {
            Id = Guid.NewGuid(),
            FirstName = ViewModel.FirstName,
            LastName = ViewModel.LastName,
            Email = ViewModel.Email,
            UserName = ViewModel.Email,
            City = _city
        };
        
        using (SHA256 sha = SHA256.Create())
        {
            byte[] hashValue = sha.ComputeHash(Encoding.UTF8.GetBytes(ViewModel.Password));

            StringBuilder builder = new StringBuilder();
            for (int i = 0; i < hashValue.Length; i++)
            {
                builder.Append(hashValue[i].ToString("x2"));
            }

            string hash = builder.ToString();

            user.PasswordHash = hash;
        }
        
        _context.Users.Add(user);
        _context.SaveChanges();
        
        if (user.Email == "admin@gmail.com")
        {
            NavigationManager.NavigateTo($"auth/singin?email={user.Email}&role=admin", true);
        }
        else
        {
            NavigationManager.NavigateTo($"auth/singin?email={user.Email}&role=user", true);
        }
    }
}